<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插值字符串2</title>
    <script src="//cdn.bootcss.com/angular.js/1.6.1/angular.min.js"></script>
    <script>
        angular.module("emailParser", [])
            .config(["$interpolateProvider", function ($interpolateProvider) {
                $interpolateProvider.startSymbol("__");
                $interpolateProvider.endSymbol("__");
            }])
            .factory("EmailParser", ["$interpolate"], function ($interpolate) {
                // 处理解析服务
                return {
                    parse: function (text, context) {
                        var template = $interpolate(text);
                        return template(context);
                    }
                }
            });
        angular.module("myApp", ["emailParser"])
            .controller("MyController", ["$scope", "EmailParser",
                function ($scope, EmailParser) {
                    $scope.$watch("emailBody", function (body) {
                        if (body) {
                            $scope.previewText = EmailParser.parse(body, {to: $scope.to})
                        }
                    })
                }])
    </script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="MyController" id="emailEdit">
        <input ng-model="to" type="email" placeholder="收件人">
        <br>
        <textarea ng-model="emailBody"></textarea>
        <div id="emailPreview">
        <pre>
            __ previewText __
        </pre>
        </div>
    </div>
</div>
</body>
</html>